/* .grit {
    -webkit-mask-image: url("/public/grit.png");
    mask-image: url("/public/grit.png");
  } */

.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.crossbutton {
    position: absolute;
    top: 20px;
    right:30px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .crossbutton span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
  }
  
  .crossbutton span:nth-child(1) {
    transform: translateY(-8px) rotate(45deg);
  }
  
  .crossbutton span:nth-child(2) {
    transform: translateY(-8px) rotate(-45deg);
  }

.modalContent {
    z-index: 3;
    position: relative;
    background-color: rgba(215, 206, 188, 0.8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 3%;
}

.dialogcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 80%;
    margin-top: 10%;
}

.textContent{
    font-weight: lighter;
    text-align: center;
}

.rightArrow{
    background: none;
    border: none;
}

.rightArrow span {
    position: absolute;
    bottom: 50px;
    right: 20px;
    width: 24px;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
  }
  
  .rightArrow span:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  
  .rightArrow span:nth-child(2) {
    transform: translateY(-8px) rotate(45deg);
  }

  .leftArrow{
    background: none;
    border: none;
}
  .leftArrow span {
    position: absolute;
    bottom: 50px;
    left: 20px;
    width: 24px;
    height: 3px;
    background-color: black;
    transition: all 0.3s ease;
  }
  
  .leftArrow span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .leftArrow span:nth-child(2) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .finishbutton{
    background: none;
    width: 30%;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 10px;
}

.exercisetitle{
    font-size:
}