.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.crossbutton {
    position: absolute;
    top: 5px;
    right: 5px;
}

.mainDialog {
    z-index: 3;
    position: relative;
}

.dialogcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 80%;
}
