.navContainer {
    display: flex;
    flex-direction: column;
}

.textContainer {
    max-width: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    text-align: left;
    left: 0;
    padding: 3%;
}

#curve {
    fill: transparent;
}

.text {
    /* styl pro text */
}

.textPath {
    /* styl pro textPath */
}

.introduction {
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guidance .buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navButton {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    /* Nastavení stínu */
    width: 70vw;
    height: 10vh;
}

@media (min-width: 1024px) {
    .buttonsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
    }

    .navButton {
        width: 25vw;


    }

}
/* <svg width={400} height={130}>
<path id={styles.curve} d="M 20 120 C 0 20, 50 0, 160 120"></path>
<text className={styles.text}>
  <textPath href={`#${styles.curve}`} className={styles.textPath} startOffset="5%"> 
  Tahle appka ti pomůže cítit se líp a naučit se řešit svoje problémy
  tak, aby tě příště nerozhodily.            </textPath>
</text>
</svg> 
<ReactCurvedText className={styles.curvedTextFirst}
          width={370}
          height={300}
          cx={65}
          cy={140}
          rx={80}
          ry={100}
          startOffset={50}
          reversed={true}
          text="Tahle appka ti pomůže cítit se líp a naučit se"
          textProps={{ style: { fontSize: 10 } }}
          textPathProps={null}
          tspanProps={{"dy" : "16"}}
          ellipseProps={null}
          svgProps={null}
        />
        <ReactCurvedText
        className={styles.curvedTextSecond}
          width={370}
          height={300}
          cx={140}
          cy={50}
          rx={100}
          ry={100}
          startOffset={50}
          reversed={false}
          text="řešit svoje problémy
        tak, aby tě příště nerozhodily"
          textProps={{ style: { fontSize: 10 } }}
          textPathProps={null}
          tspanProps={null}
          ellipseProps={null}
          svgProps={null}
        />*/
