.navContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#f0f3fe, #ffffff);

}

.textContainer{
    display: flex;
    background-color: rgb(203, 220, 220);
    border: 5px solid rgb(203, 220, 220);  
    box-shadow: inset 0 0 0 2px black;
    border-radius: 10px; 
    margin: 10px;
    width: 90vw;
    height: 30vh;
    padding: 3%;
}

.arrow{
    width: 90px;
    height: 150px;
    background-image: url(./rucnisipky.png) ;
    background-size: cover;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navButton{
    background-image: url(./button.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    width: 70vw;
    height: 10vh;
}