.choiceContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textContainer {
    margin-top: -5vh;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 5vh;
}

.introduction {
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    position: relative;
    background-color: #5c524c;
    /*#bfa790*/
    color: #c5c3bf;
    /*#625d52*/
    border-radius: 29% 71% 75% 25% / 61% 41% 59% 39%;
    width: 250px;
    height: 170px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 25vh;
}

.introduction p {
    font-size: 14px;
    padding: 10px;
    font-weight: bolder;

}

.guidance {
    position: relative;
    border-radius: 75% 25% 47% 53% / 53% 72% 28% 47%;
    background-color: #5c524c;
    color: #c5c3bf;
    width: 250px;
    height: 180px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.guidance p {
    font-size: 14px;
    padding: 15px;
    font-weight: bolder;
}

.textFocusIn {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


.buttonsContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttonsContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
}

.navButton {
    border: transparent;
    background-color: #bfa790;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    width: 70vw;
    height: 8vh;
    border-radius: 20px;
    color: #e1dfda;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;

}

.navButton:hover {
    background-color: #ccc3b2;
    color: #5c524c;
    ;
}

@media (min-width: 768px) {
    .buttonsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
        width: 90vw;
        font-size: 16px;
    }

    .navButton {
        font-size: 16px;
    }

    .guidance {
        width: 65vw;
        height: 15vh;
        align-self: right;
    }

    .guidance p {
        font-size: 16px;
        padding: auto;
        font-weight: bolder;

    }

    .introduction {
        /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
        font-size: 16px;
        border-radius: 29% 71% 75% 25% / 61% 41% 59% 39%;
        width: 30vh;
        height: 15vh;
        margin-left: -5vw;
        margin-top: 20vh;
    }

    .introduction p {
        font-size: 16px;
        padding: auto;
        font-weight: bolder;
    }
}

@media (min-width: 1024px) {
    .buttonsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
    }

    .guidance {
        width: 75vh;
        height: 30vh;
    }

    .guidance p {
        font-size: 18px;
        padding: auto;
        font-weight: bolder;

    }

    .navButton {
        width: 25vw;
        font-size: 18px;
        cursor: pointer;
    }

    .introduction {
        /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
        font-size: 16px;
        border-radius: 29% 71% 75% 25% / 61% 41% 59% 39%;
        width: 50vh;
        height: 30vh;
        margin-top: 35vh;
        margin-left: -12vh;
    }

    .introduction p {
        font-size: 18px;
        padding: auto;
        font-weight: bolder;

    }
}

/* /<svg width={400} height={130}>
<path id={styles.curve} d="M 20 120 C 0 20, 50 0, 160 120"></path>
<text className={styles.text}>
  <textPath href={`#${styles.curve}`} className={styles.textPath} startOffset="5%"> 
  Tahle appka ti pomůže cítit se líp a naučit se řešit svoje problémy
  tak, aby tě příště nerozhodily.            </textPath>
</text>
</svg> 
<ReactCurvedText className={styles.curvedTextFirst}
          width={370}
          height={300}
          cx={65}
          cy={140}
          rx={80}
          ry={100}
          startOffset={50}
          reversed={true}
          text="Tahle appka ti pomůže cítit se líp a naučit se"
          textProps={{ style: { fontSize: 10 } }}
          textPathProps={null}
          tspanProps={{"dy" : "16"}}
          ellipseProps={null}
          svgProps={null}
        />
        <ReactCurvedText
        className={styles.curvedTextSecond}
          width={370}
          height={300}
          cx={140}
          cy={50}
          rx={100}
          ry={100}
          startOffset={50}
          reversed={false}
          text="řešit svoje problémy
        tak, aby tě příště nerozhodily"
          textProps={{ style: { fontSize: 10 } }}
          textPathProps={null}
          tspanProps={null}
          ellipseProps={null}
          svgProps={null}
        />
        #curve {
            fill: transparent;
        }
        
        .text {

        }
        
        .textPath {

        }
       */
