.categoryContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6vh;
}

.textContainer {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
    gap: 5vh;
    margin-left: 6%;
}

.smallTitle{
    color: #515878ff;
    font-weight: 100;
    font-size: 20px;
}

.bigTitle{
font-weight: 800;
color: #515878ff;
font-size: 25px;
}

.guidanceText{
    font-weight: 250;
    font-size: 15px;
    line-height: 1.5;
    max-width: 400px;
    
}
.buttonsContainer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:10px
}

.navButton {
    width: 50%;
    border: transparent;
    background-color: #BFA790;
    width: 70vw;
    height: 7vh;
    border-radius: 10px;
    color: #e7ded0;
    transition: background-color 0.3s, color 0.3s;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.navButton:hover {
    background-color: #ccc3b2;
    color: #515878ff;
    ;
}

@media (min-width: 768px) {

    .categoryContainer {
       
        gap: 10px;
    }
    .textContainer{
     margin-top: 150px;
    }
    .buttonsContainer {
     display: flex;
     flex-direction: row;
     justify-content:space-evenly;
     align-items: center;
     margin-left: 6%;
     margin-right: 6%;
     padding: 3%;

    }

    .navButton {
        font-size: 16px;
        max-width: 30%;
        height: 200;
    }


    .smallTitle{
        font-size: small;
        color: #515878ff;
        font-weight: 100;
        font-size: 25px;
        margin-left: 1%;

    }
    
    .bigTitle{
    font-weight: 800;
    color: #515878ff;
    font-size: 25px;
    margin-left: 1%;

    }
    .guidanceText{
        font-size: 17px;
        margin-left: 1%;

    }
}

@media (min-width: 1024px) {
    .buttonsContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;

    }

    .textContainer{
        margin-top: 200px;
    }
    .smallTitle{
        color: #515878ff;
        font-weight: 100;
        font-size: 30px;
    }
    
    .bigTitle{
    font-weight: 800;
    color: #515878ff;
    font-size: 35px;
    }

    .guidanceText{
        font-size: 19px;

    }

    .navButton {
        font-size: 22px;
        cursor: pointer;

    }

    
}