.contactMain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.contact {
  background-image: linear-gradient(to bottom right, #F0F2FF, #F6EEFA);
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contactButton {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.4rem;
  background-color: #7f0b91;
  border-radius: 20px;
  color: white;
  width: 120px;
}

@media (min-width: 768px) {
  .contactMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact {
    width: 30vw;
    height: 30vh;
  }
}
