/* Header.module.css */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
}

.subcontainer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  width: 50%;
}

.navbar {
  width: 50%;
  min-height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navMenu a {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.navLink {
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.activeLink {
  font-weight: 550;
}

.hamburger {
  display: none;
  cursor: pointer;
  z-index: 1;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: black;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .navMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: left 0.3s;
    gap: 10px;
  }

  .navMenu.active {
    left: 0;
  }

  .navItem {
    margin: 16px 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
