.header {
  top: 0;
  width: 100%;
  z-index: 3;
  position: relative;
  padding: 2%;
  background-color: #f2c7bfff;
  height: 8vh;
}

.subcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 100%;
}
.logoLink{
  max-height: 100%;
  width: 50%;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  flex-direction: row;
}

.logoTitle {
  color: #515878ff;
  flex-wrap: nowrap;

}

.navbar {
  width: 50%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.navMenu {
  position: absolute;
  top: 0;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  text-align: center;
  transition: left 0.3s;
  gap: 10px;
  list-style: none;
  color: white;
  display: none; 
  background-color: #f2c7bfff;

}

.navMenu.active {
  left: 0;
  top: 8vh;
  /* background-color: #f2c7bfff; */
  display: flex; 
}

.navItem {
  margin: 16px 0;
}

.navMenu a {
  color: #515878ff;
  text-decoration: none;
}

.navLink {
  color: #515878ff;
  
}

.activeLink {
  font-weight: 550;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.3s ease;
  background-color: #515878ff;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.headerColor{
  background-color: rgb(223, 214, 210);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .navMenu {
    display: flex; 
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    text-align: left;
    background-color: transparent;
    color: #515878ff;
  }

  .navMenu.active {
    left: auto;
    top: auto;
    background-color: transparent;
  }

  .navItem {
    margin: 0;
  }
}
