.footer {
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  z-index: 2;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
