.mainContainer {
    height: 1000px;

}

.buttonContact {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem;
    text-align: center;
    background-color: #8d868e;
    border-radius: 20px;
    color: white;
    width: 120px;
}
