.mainContainer {
    height: 80vh;
    width: 100vw;
    position: relative;
    display: flex;
    z-index: 2;
}

.endbox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    gap: 54vw;
    margin: 4px;
}

.sharebox {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sharebox p {
    width: 20vw;
}

.contactbox {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contactbox p {
    width: 20vw;
}

.buttonContact {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem;
    text-align: center;
    background-color: #8d868e;
    border-radius: 20px;
    color: white;
    width: 60px;
}

.treeImageCard {
    height: auto;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    border-radius: 20px;
    overflow: hidden;
}

.treeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bubbles {
    height: 1OOvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.apology {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translate(50%, 20%);
    align-items: center;
    border-radius: 0 50vw;
    background-color: #5066356a;
    color: #dcd9d5;
    width: 50vw;
    height: 40vh;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.apology p {
    max-width: 70%;
    font-size: 1rem;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: auto;
    font-weight: lighter;
}

@media (min-width: 768px) {
    .endbox {
        font-size: 20px;
        flex: 1;
    }

    .buttonContact {
        width: 15vw;
    }

    .apology p {
        font-size: 2.5rem;
    }

    .apology {
        transform: translate(50%, 30%);
        border-radius: 0 100vw;
        width: 50vw;
        height: 50vh;
    }
}

@media (min-width: 1025px) {

    .endbox {
        display: flex;
        flex: 1;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        gap: 25vw;
    }

    .sharebox {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .sharebox p {
        width: 30vw;
        padding: 10px;
    }

    .contactbox {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contactbox p {
        width: 30vw;
        padding: 10px;
    }

    .buttonContact {
        width: 15vw;
    }

    .apology p {
        max-width: 70%;
        font-size: 2.5rem;
        justify-self: center;
        align-items: center;
        text-align: center;
        padding: auto;
        font-weight: lighter;
    }

    .apology {
        transform: translate(40%, 20%);
        align-items: center;
        border-radius: 0 600px;
        width: 60vw;
        height: 60vh;
        justify-content: center;
        position: relative;
        z-index: 2;
    }

    .treeImageCard {
        height: auto;
        width: 25vw;
    }
}
