.mainContainer {
    height: 80vh;
    width: 100vw;
    position: relative;
    display: flex;
    z-index: 2;
}

.endbox {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    gap: 55vw;
}

.sharebox {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sharebox p {
    width: 20vw;
}

.contactbox {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contactbox p {
    width: 20vw;
}

.buttonContact {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.4rem;
    text-align: center;
    background-color: #8d868e;
    border-radius: 20px;
    color: white;
    width: 80px;
}

.treeImageCard {
    height: 50vh;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: cover;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    border-radius: 20px;
    overflow: hidden;
}

.treeImg {
    width: 100%;
    height: 100%;
    /* Přidejte tuto řádku pro nastavení výšky */
    object-fit: cover;
    /* Přidá tuto řádku pro správné měřítko obrázku */
    border-radius: 20px;
}

.bubbles {
    height: 1OOvh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

@media (min-width: 768px) {
    .endbox {
        font-size: 20px;
    }

    .buttonContact {
        width: 15vw;
    }
}

@media (min-width: 1024px) {

    .endbox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        gap: 25vw;
    }

    .sharebox {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .sharebox p {
        width: 30vw;
        padding: 10px;
    }

    .contactbox {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contactbox p {
        width: 30vw;
        padding: 10px;
    }

    .buttonContact {
        width: 15vw;
    }
}
